p{
    font-size:20px;
}

div{
    background-color: cornflowerblue;
    color: white;
    display:inline-block;
}

#noPadding{
    padding: 0;
}

#padding{
    padding: 50px;
}

#topPadding{
    padding-top: 50px;
}

#rightPadding{
    padding-right: 50px;
}

#leftPadding{
    padding-left: 50px;
}

#bottomPadding{
    padding-bottom: 50px;
}

/*order is always TOP RIGHT BOTTOM LEFT*/

#mixedPadding{
    padding: 10px 40px 100px 20px;
}
